       
           
<div id="comment-<%=comment._id%>">
    <p><%=comment.content%>
        <%if(locals.user && locals.user.id==comment.user.id) {%>
            <a class="delete-comment-button" id="<%=comment._id%>" href="/comments/delete/<%=comment._id%>">x</a>
                    <%}%>  
        <br><%=comment.user.name%></p>
</div>
