<html>
    <head>
        <%- style %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <title><%=title%></title>
    </head>
    <body>
        <%- include('_header'); %> 
        
        <%- body %>
        <%- script %>

        <script>
            <% if(flash.success && flash.success.length > 0){ %>
            new Noty({
                theme:'metroui',
                text: '<%=flash.success%>',
                type:'success',
                layout:'topRight',
                timeout:1000
                
            }).show();
            <%}%>
           
            <% if(flash.error && flash.error.length > 0){ %>
            new Noty({
                theme:'metroui',
                text: '<%=flash.error%>',
                type:'error',
                layout:'topRight',
                timeout:1000
                
            }).show();
        <%}%>
        </script>
            <script src="/js/home_post.js"></script> 

    </body>
</html>